.content {
  margin: -40px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  box-shadow: 0;
  -moz-box-shadow: 0;
  -webkit-box-shadow: 0;
}

#about {
   padding-bottom: 3px;
}
#about p {
   font-size: 1em;
   line-height:1em;
}
#header {
   display: none;
}
#interests {
   display: none;
}

.paper {
   background: white;
}

.well {
   border: none;
   box-shadow: none;
   -webkit-box-shadow: none:
   -moz-box-shadow: none;
}

#fork-me {
  display: none;
}

.coderwall {
   display: none;
}
.icon-signal {
   display: none;
}
.icon-envelope {
   display: none;
}
.icon-flag {
   display: none;
}

#nav-skills {
   display: none;
}
#nav-timeline {
   display: none;
}
#skills {
   display: none;
}
#timeline {
   display: none;
}

#footer {
   display: none;
}
